@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    /* توليفة خطوط نظام افتراضية ناعمة وممتازة للقراءة باللغتين */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    /* تم تصحيح درجة اللون إلى zinc-950 ليعطي المظهر الداكن الفخم المطلوب */
    @apply bg-white text-zinc-950;
  }

  /* الكلاس السحري لعزل الأرقام والنصوص الإنجليزية داخل البيئة العربية */
  .ltr-text {
    direction: ltr !important;
    display: inline-block;
    text-align: left;
  }
}